

.pic{
    background-image:  linear-gradient(rgba(147, 143, 143, 0.5), rgba(147, 143, 143, 0.5)),
        url("../library.png");

    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
}

.pic .one{
    font-size: 80px;
    font-family: bold;
    color: var(--clr-primary-dark);
    margin: 10px;
}

.pic .two{
    font-size:25px;
    color: var(--clr-accent-light);
    margin: 10px;
}

.pic .btn{
    width: 400px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--clr-primary-dark);
    color: var(--clr-dark-text);
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.pic .btn:hover{
    border-radius: 20px;
}

.pic .btn:active{
    scale: 0.95;
    color: var(--clr-accent-light);
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #f5ede4;
}

.container .book .im{

    width: 350px;
    height: 280px;
    background-image: url("../library.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.container .book .co{
    margin: 10px;
}

.container .book .co .words{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .book .co .words .head-one{
    font-size: 40px;
    font-family: bold;
    margin: 5px;
}

.container .book .co .words .head-two{
    font-size: 20px;
    font-family: bold;
    margin: 5px;
    color: #a07830;
}

.container .book .co .words .stars{
    font-size: 25px;
    margin: 5px;
    color: rgb(226, 226, 20);
}


.container .book .co .words .price{
    color: var(--clr-primary-dark);
    font-size: 26px;
    margin: 5px;
}


.container .book .co .words .add-btn{

    font-size: 20px;
    margin: 5px;
    width: 200px;
    height: 50px;
    background-color: #3b2218;
    color: #a07830;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}


.container .book .co .words .add-btn:hover{
    border-radius: 20px;
}


.container .book .co .words .add-btn:active{
    color: #100602;
    scale: 0.95;
}